Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
config.status.lineno
configure.lineno
configure
stamp-h1
stamp-autogen-1stpass
/*.tar.bz2
src/config.nsi
po/POTFILES
po/*.nsi
po/*.gmo
po/*.po~
po/claws-mail.pot
po/remove-potcdate.sed
po/stamp-po
po/nsis-msgfmt
src/claws-mail.mk
/packages/*.tar.gz
/packages/*.tar.bz2
/packages/*.zip
/packages/*.tar.bz2
/packages/*.tar.xz
/packages/*.tgz
/packages/packages.current.sig
/src/playground
/src/stamps

/src/NEWS.tmp
/src/README.ar.txt
/src/README.de.txt
/src/README.en.txt
/src/README.es.txt
/src/README.fr.txt
/src/README.pt.txt
/src/README.ru.txt
/src/g4wihelp.dll
/src/gpgwrap-2.exe
/src/gpgwrap.exe
/src/installer-options.ini
/src/installer-setdefaultclient.ini
/src/md5sum.exe
/src/sha1sum.exe
/src/sha256sum.exe
/src/versioninfo.txt
/src/claws-mail-*.exe
/src/HOWTO-SMIME.de.txt
/src/HOWTO-SMIME.en.txt
/src/COMPONENTS-list.tmp

/src/libgcc_s_sjlj-1.dll-x
/src/libgcc_s_seh-1.dll-x
/src/libstdc++-6.dll-x
/src/libwinpthread-1.dll-x
/po/build-cc
/src/license.blurb
/src/mkportable.exe
/src/Toolchain-mingw32.cmake
